<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head_layout :: header}"></head>

<nav th:replace="~{fragments/nav_layout :: navbar}"></nav>

<body>

<div class="text-center container mt-5 col-4">
    <h2>[[#{app.error}]]</h2>

    <span class="error" th:if="${status}" th:text="${status}"></span>

    <div th:if="${deleteRestrictionStatus != null}" class="alert alert-danger">
        <p th:text="${deleteRestrictionStatus}"></p>
    </div>

    <div th:if="${deleteRestrictionTeam != null}" class="alert alert-danger">
        <p th:text="${deleteRestrictionTeam}"></p>
    </div>

    <div th:if="${deleteRestrictionProject != null}" class="alert alert-danger">
        <p th:text="${deleteRestrictionProject}"></p>
    </div>

    <div th:if="${deleteRestrictionUser != null}" class="alert alert-danger">
        <p th:text="${deleteRestrictionUser}"></p>
    </div>

    <a th:href="@{'/'}">[[#{app.back.button}]]</a>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>