<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head_layout :: header}"></head>
<nav th:replace="~{fragments/nav_layout :: navbar}"></nav>

<body>

<div class="container mt-5 mb-5 col-3">

    <form th:action="@{/login}" method="post" class="form-signin">

        <h3 class="text-center">[[#{app.form.login}]]</h3>

        <div class="form-label-group m-3">
            <label>[[#{app.login.pass.label}]]</label>
            <input type="text" name="username" id="username" class="form-control fadeIn second"/>
        </div>

        <div class="form-label-group m-3">
            <input type="password" name="password" id="password" class="form-control fadeIn second"/>
        </div>

        <div class="form-label-group m-3">
            <button type="submit" class="btn btn-primary btn-block fadeIn fourth">[[#{app.login}]]</button>
        </div>

        <p class="text-center">
            Нажмите <a th:href="@{/register}">сюда</a> для регистрации.
        </p>
    </form>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>