<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head_layout :: header}"></head>
<nav th:replace="~{fragments/nav_layout :: navbar}"></nav>

<body>

<div class="container mb-5 mt-5 col-3">

    <form th:action="@{/admin/status/save}" th:object="${status}" method="POST">

        <h3 class="text-center">[[#{app.edit.status}]]</h3>

        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            [[#{app.error}]]
        </div>


        <div class="form-group m-1">
            <label>[[#{app.status.name}]]</label>
            <input class="form-control" type="text" th:field="*{statusName}">
            <span class="error" th:if="${#fields.hasErrors('statusName')}" th:errors="*{statusName}"></span>
        </div>

        <input type="hidden" th:field="${status.statusId}">

        <button type="submit" class="btn btn-info form-control mb-3 mt-3">[[#{app.user.save.edit}]]</button>

    </form>

    <a th:href="@{'/admin/statuses'}">[[#{app.back.button}]]</a>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>