<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head_layout :: header}"></head>
<nav th:replace="~{fragments/nav_layout :: navbar}"></nav>

<body>

<div class="container mt-5 mb-5 col-3">

    <form th:action="@{/admin/team/save}" th:object="${team}" method="POST">

        <h3 class="text-center">[[#{app.edit.team}]]</h3>

        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            [[#{app.error}]]
        </div>

        <input type="hidden" th:field="${team.teamId}">

        <div class="form-group m-1">
            <label>[[#{app.team.label}]]</label>
            <input type="text" th:field="*{teamName}" placeholder="Команда" class="form-control"/>
            <span class="error" th:if="${#fields.hasErrors('teamName')}" th:errors="*{teamName}"></span>
        </div>

        <div class="form-group m-1">
            <label>[[#{app.users}]]</label>
            <select class="form-control" th:field="*{teamUsers}" placeholder="Член команды" multiple="multiple">
                <option th:each="aUser: ${allUsers}"
                        th:value="${aUser.userId}"
                        th:text="${aUser.userLogin}">

            </select>
            <span class="error" th:if="${#fields.hasErrors('teamUsers')}" th:errors="*{teamUsers}"></span>
        </div>

        <button type="submit" class="btn btn-info form-control mt-3 mb-3">[[#{app.user.save.edit}]]</button>

    </form>

    <a th:href="@{'/admin/teams'}">[[#{app.back.button}]]</a>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>