<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head_layout :: header}"></head>
<nav th:replace="~{fragments/nav_layout :: navbar}"></nav>

<body>

<div class="container mt-5 mb-5 col-3">

    <form th:action="@{/admin/edit/save}" th:object="${userAccount}" method="POST">

        <h3 class="text-center">[[#{app.edit.user}]]</h3>

        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            [[#{app.error}]]
        </div>

        <div class="form-group m-1">
            <label>[[#{app.role.label}]]</label>
            <select class="form-control" th:field="*{authorities}">
                <option th:each="aAuthority: ${allAuthorities}"
                        th:value="${aAuthority.authorityId}"
                        th:text="${aAuthority.authorityName}">
            </select>
        </div>

        <div class="form-group m-1">
            <label>[[#{app.form.user.login}]]</label>
            <input class="form-control" type="text" th:field="*{userLogin}">
            <span class="error" th:if="${#fields.hasErrors('userLogin')}" th:errors="*{userLogin}"></span>
            <span class="error" th:if="${createUserError}" th:text="${createUserError}"></span>
        </div>

        <div class="form-group m-1">
            <label>[[#{app.user.first.name}]]</label>
            <input class="form-control" type="text" th:field="*{firstName}">
            <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
        </div>

        <div class="form-group m-1">
            <label>[[#{app.user.last.name}]]</label>
            <input class="form-control" type="text" th:field="*{lastName}">
            <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
        </div>

        <div class="form-group m-1">
            <label>[[#{app.form.email}]]</label>
            <input class="form-control" type="text" th:field="*{email}">
            <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>

        <div class="form-group m-1">
            <input type="hidden" th:field="*{password}">
        </div>

        <div class="form-group m-1">
            <label>[[#{app.dob.label}]]</label>
            <input type="date" th:field="*{userDob}" placeholder="Дата рождения" class="form-control" required/>
            <span class="error" th:if="${#fields.hasErrors('userDob')}" th:errors="*{userDob}"></span>
        </div>

        <input type="hidden" th:field="${userAccount.userId}">

        <button type="submit" class="btn btn-info mt-3 mb-3 form-control">[[#{app.user.save.edit}]]</button>

    </form>

    <a th:href="@{'/admin/users'}">[[#{app.back.button}]]</a>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>