<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/head_layout :: header}"></head>
<nav th:replace="~{fragments/nav_layout :: navbar}"></nav>

<body>

<div class="container mt-5 mb-5">

    <h3>[[#{app.user.list}]]</h3>
    <hr>

    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/user/new}" class="btn btn-primary btn-sm mb-3">
        [[#{app.user.add.new}]]
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>[[#{app.login.label}]]</th>
            <th>[[#{app.user.first.name}]]</th>
            <th>[[#{app.user.last.name}]]</th>
            <th>[[#{app.user.email}]]</th>
            <th>[[#{app.user.role}]]</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{app.user.action}]]</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="aUser : ${userPage.content}">
            <td th:text="${aUser.userLogin}"></td>
            <td th:text="${aUser.firstName}"></td>
            <td th:text="${aUser.lastName}"></td>
            <td th:text="${aUser.email}"></td>
            <td th:text="${aUser.role}"></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{'/admin/edit/' + ${aUser.userId}}" class="btn btn-info btn-sm">[[#{app.user.edit}]]</a>
                <a th:href="@{'/admin/delete/' + ${aUser.userId}}" class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Вы уверенны?'))) return false">[[#{app.user.delete}]]</a>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="pagination" th:if="${userPage.getTotalPages() > 0}">
        <thead class="thead-dark">
        <tr>
            <th>[[#{app.page.label}]]</th>
            <th th:each="pageNumber : ${pageNumbers}">

                <a th:href="@{/admin/users(size=${userPage.size}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==userPage.number + 1} ? active"></a>

            </th>
        </tr>
        </thead>
    </table>
    <a th:href="@{'/'}">[[#{app.back.button}]]</a>
</div>


<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>