<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/head_layout :: header}"></head>

<nav th:replace="~{fragments/nav_layout :: navbar}"></nav>
<body>

<div class="container mb-5">

    <div class="container mt-5 mb-5 col-6">
        <h2 th:if="${principal == null}">
            [[#{app.main.label}]]
        </h2>
    </div>

    <div class="container" th:if="${principal != null && projectsList.size() > 0}">

        <h3>[[#{app.main.dashboard}]]</h3>
        <hr>
        <h4>[[#{app.main.current.project}]]</h4>

        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>[[#{app.project.name}]]</th>
                        <th>[[#{app.project.status}]]</th>
                        <th>[[#{app.project.description}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="aProject : ${projectsList}">
                        <td th:text="${aProject.projectName}"></td>
                        <td>
                            <p th:each="status: ${allStatuses}"
                               th:value="${status.statusId}"
                               th:text="${status.statusName}"
                               th:if="${aProject.statusId == status.statusId}">
                            </p>
                        </td>
                        <td th:text="${aProject.description}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-4">
                <canvas id="myPieChart" height="50" width="50"></canvas>
                <script>
                    let chartData = "[[${projectStatusCnt}]]";
                </script>
            </div>

        </div>
    </div>
    <div class="container mb-5" th:if="${principal != null}">
        <div class="row">
            <div class="col-md-6">
                <h3>[[#{app.show.statuses.label}]]</h3>
                <input type="button" id="toggleButton" onclick="getData( )" value="Показать"/>
                <div id="myPlaceHolder"></div>
            </div>
        </div>
    </div>


    <div class="container" th:if="${principal != null && allUsers.size() > 0}">
        <h4>[[#{app.main.current.employees}]]</h4>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>[[#{app.form.user.login}]]</th>
                        <th>[[#{app.user.first.name}]]</th>
                        <th>[[#{app.user.last.name}]]</th>
                        <th>[[#{app.user.email}]]</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${allUsers}">
                        <td th:text="${user.userLogin}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.email}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container" th:if="${principal != null && teamProject.size() > 0}">
        <h4>[[#{app.team.project.label}]]</h4>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>[[#{app.project.name}]]</th>
                        <th>[[#{app.projects}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="aTeam : ${teamProject}">
                        <td th:text="${aTeam.getTeamName()}"></td>
                        <td th:text="${aTeam.getProjectCount()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container" th:if="${principal != null && allTeams.size() > 0}">
        <h4>[[#{app.main.current.teams}]]</h4>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>[[#{app.project.name}]]</th>
                        <th>[[#{app.staff.label}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="aTeam : ${allTeams}">
                        <td th:text="${aTeam.teamName}"></td>
                        <td>
                            <p th:each="aUser : ${aTeam.teamUsers}"
                               th:text="${aUser.userLogin} + ' '+ ${aUser.firstName} + ' '+ ${aUser.lastName}"></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/myPieChart.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax-request.js}"></script>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

</div>
</body>
</html>