<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<div th:fragment="all-statuses">
    <H2>[[#{app.all.statuses.label}]]</H2>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>[[#{app.status.name}]]</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="aStatus : ${allStatuses}">
            <td th:text="${aStatus.statusName}"></td>
        </tr>
        </tbody>

    </table>
</div>
</html>
