<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
>

<head th:replace="~{fragments/head_layout :: header}"></head>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">

    <img th:src="@{/img/pm.png}" class="rounded-circle"/>


    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}" id="app-title">[[#{app.title}]]</a>
            </li>
            <li class="nav-item" th:if="${principal != null}">
                <a class="nav-link" th:href="@{/}">[[#{app.main}]]</a>
            </li>

            <li class="nav-item" th:if="${principal != null}">
                <a class="nav-link" th:href="@{/projects/timelines}">[[#{app.projects.timelines}]]</a>
            </li>
            <li class="nav-item" th:if="${principal != null}">
                <a class="nav-link" th:href="@{/projects}">[[#{app.projects}]]</a>
            </li>

            <li th:if="${principal != null}" class="nav-item">
                <a class="nav-link" th:href="@{/admin/users}">[[#{app.admin.users}]]</a>
            </li>

            <li th:if="${principal != null}" class="nav-item">
                <a class="nav-link" th:href="@{/admin/teams}">[[#{app.admin.teams}]]</a>
            </li>

            <li th:if="${principal != null}" class="nav-item">
                <a class="nav-link" th:href="@{/admin/statuses}">[[#{app.admin.statuses}]]</a>
            </li>
        </ul>

        <!-- Register and login link-->
        <ul class="float-right navbar-nav" th:if="${principal == null}">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/register}">[[#{app.registration}]]</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/login}">[[#{app.login}]]</a>
            </li>
        </ul>

        <form th:if="${principal != null}" method="post" th:action="@{/logout}">
            <span class="text-white mr-2" th:text="${principal.getName()}"></span>
            <button class="btn btn-secondary">[[#{app.logout}]]</button>
        </form>
    </div>
</nav>
</html>