<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head_layout :: header}"></head>
<nav th:replace="~{fragments/nav_layout :: navbar}"></nav>

<body>

<div class="container mt-5 mb-5 col-3">

    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>

    <form th:action="@{/admin/status/save}" th:object="${statusNew}" method="POST">

        <h3 class="text-center">[[#{app.add.status.label}]]</h3>

        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            [[#{app.error}]]
        </div>
        <div class="form-group m-1">
            <label>[[#{app.project.status}]]</label>
            <input type="text" th:field="*{statusName}" placeholder="Статус" class="form-control"/>
            <span class="error" th:if="${#fields.hasErrors('statusName')}" th:errors="*{statusName}"></span>
            <span class="error" th:if="${digitInStatus != null}" th:text="${digitInStatus}"></span>
        </div>

        <input type="hidden" th:field="${statusNew.statusId}">

        <button type="submit" class="btn btn-info mb-3 mt-3 form-control">[[#{app.status.add.new}]]</button>

    </form>
    <a th:href="@{'/admin/statuses'}">[[#{app.back.button}]]</a>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>