<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/head_layout :: header}"></head>
<nav th:replace="~{fragments/nav_layout :: navbar}"></nav>

<body>

<div class="container mt-2">
    <h3>[[#{app.projects}]]</h3>
    <hr>

    <a th:href="@{/projects/new}" sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-sm mb-3">[[#{app.project.add.new}]]</a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>[[#{app.project.name}]]</th>
            <th>[[#{app.project.description}]]</th>
            <th>[[#{app.team.label}]]</th>
            <th>[[#{app.project.status}]]</th>
            <th>[[#{app.project.tasks}]]</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{app.user.action}]]</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aProject : ${projectPage}">
            <td th:text="${aProject.projectName}"></td>
            <td th:text="${aProject.description}"></td>
            <td>
                <span
                        th:each="team : ${aProject.teams}"
                        th:text="${team.teamName}">
                </span>
            </td>
            <td>
                <span
                        th:each="aStatus : ${allTaskStatuses}"
                        th:if="${aProject.statusId == aStatus.statusId}"
                        th:text="${aStatus.statusName}">
                </span>
            </td>
            <td>
                <a th:href="@{'/projects/show/tasks/' + ${aProject.getProjectId()}}" class="btn btn-info btn-sm">[[#{app.user.show.task}]]</a>
            </td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">

                <a th:href="@{'/projects/edit/' + ${aProject.getProjectId()}}" class="btn btn-info btn-sm">[[#{app.user.edit}]]</a>
                <a th:href="@{'/projects/delete/' + ${aProject.getProjectId()}}" class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure?'))) return false">[[#{app.user.delete}]]</a>
            </td>
        </tr>

        </tbody>
    </table>

    <table class="pagination" th:if="${projectPage.getTotalPages() > 0}">
        <thead class="thead-dark">
        <tr>
            <th>[[#{app.page.label}]]</th>
            <th th:each="pageNumber : ${pageNumbers}">

                <a th:href="@{/projects(size=${projectPage.size}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==projectPage.number + 1} ? active"></a>
            </th>
        </tr>
        </thead>
    </table>

    <a th:href="@{'/'}">[[#{app.back.button}]]</a>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>