<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/head_layout :: header}"></head>
<nav th:replace="~{fragments/nav_layout :: navbar}"></nav>

<body>

<div class="container mt-5 mb-5">
    <h3>[[#{app.project.task.label}]] <span th:object="${project}"> <p th:text="${project.projectName}"></p></span></h3>

    <hr>

    <a th:href="@{'/projects/add/task/' + ${project.getProjectId()}}" class="btn btn-primary btn-sm mb-3"
       sec:authorize="hasRole('ROLE_ADMIN')">[[#{app.user.add.task}]]</a>

    <h4 th:if="${projectTasksPage.content == 0}">[[#{app.project.task.empty.label}]]</h4>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>[[#{app.project.description}]]</th>
            <th>[[#{app.team.name}]]</th>
            <th>[[#{app.status.name}]]</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{app.user.action}]]</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aTask : ${projectTasksPage.content}">
            <td th:text="${aTask.description}"></td>
            <td>
                <span
                        th:each="aTeam : ${allTeams}"
                        th:text="${aTeam.teamName}"
                        th:if="${aTeam.teamId == aTask.teamId}"
                >
                </span>
            </td>
            <td>
                <span
                        th:each="aStatus : ${allStatuses}"
                        th:text="${aStatus.statusName}"
                        th:if="${aTask.statusId == aStatus.statusId}"
                >
                </span>
            </td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">

                <a th:href="@{'/projects/edit/task/' + ${aTask.getTaskId()}}" class="btn btn-info btn-sm">[[#{app.user.edit}]]</a>
                <a th:href="@{'/projects/delete/task/' + ${aTask.getTaskId()}}" class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure?'))) return false">[[#{app.user.delete}]]</a>
            </td>
        </tr>

        </tbody>
    </table>

    <table class="pagination" th:if="${projectTasksPage.getTotalPages() > 0}">
        <thead class="thead-dark">
        <tr>
            <th>Страниц</th>
            <th th:each="pageNumber : ${pageNumbers}">

                <a th:href="@{'/projects/show/tasks/' + ${project.projectId}(size=${projectTasksPage.size}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==projectTasksPage.number + 1} ? active"></a>
            </th>
        </tr>
        </thead>
    </table>

    <a th:href="@{'/projects'}">[[#{app.back.button}]]</a>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>