<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head_layout :: header}"></head>
<nav th:replace="~{fragments/nav_layout :: navbar}"></nav>

<body>

<div class="container mt-5 mb-5 col-3">

    <form th:action="@{/projects/task/save}" th:object="${task}" method="POST">

        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            [[#{app.error}]]
        </div>

        <h3 class="text-center">[[#{app.add.project}]]</h3>

        <div class="form-group">
            <label>[[#{app.task.name.label}]]</label>
            <input class="form-control" type="text" placeholder="Задача" th:field="*{description}">
            <span class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        </div>

        <div class="form-group">
            <label>[[#{app.project.available.label}]]</label>
            <select class="form-control" th:field="*{projectId}">
                <option th:each="project: ${allProjects}"
                        th:value="${project.projectId}"
                        th:text="${project.projectName}">

            </select>
        </div>

        <div class="form-group">
            <label>[[#{app.status.label}]]</label>
            <select class="form-control" th:field="*{statusId}">
                <option th:each="status: ${allStatuses}"
                        th:value="${status.statusId}"
                        th:text="${status.statusName}">

            </select>
        </div>

        <div class="form-group">
            <label>[[#{app.team.label}]]</label>
            <select class="form-control" th:field="*{teamId}">
                <option th:each="team: ${allTeams}"
                        th:value="${team.teamId}"
                        th:text="${team.teamName}">

            </select>
        </div>


        <button type="submit" class="form-control btn btn-info">[[#{app.user.add.task}]]</button>

    </form>
    <a th:href="@{'/projects'}">[[#{app.back.button}]]</a>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>