<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head_layout :: header}"></head>
<nav th:replace="~{fragments/nav_layout :: navbar}"></nav>

<body>

<div class="container mt-5 mb-5 col-3">

    <form th:action="@{/projects/save}" th:object="${project}" method="POST">

        <h3 class="text-center">[[#{app.add.project}]]</h3>

        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            [[#{app.error}]]
        </div>

        <input type="hidden" th:field="${project.projectId}">

        <div class="form-group">
            <label>[[#{app.project.name.label}]]</label>
            <input class="form-control" type="text" placeholder="Название" th:field="*{projectName}">
            <span class="error" th:if="${#fields.hasErrors('projectName')}" th:errors="*{projectName}"></span>
        </div>

        <div class="form-group">
            <label>[[#{app.status.label}]]</label>
            <select class="form-control" th:field="*{statusId}">
                <option th:each="status: ${allStatuses}"
                        th:value="${status.statusId}"
                        th:text="${status.statusName}">

            </select>
        </div>

        <div class="form-group">
            <label>[[#{app.team.label}]]</label>
            <select class="form-control" th:field="*{teams}" multiple="multiple">
                <option th:each="team: ${allTeams}"
                        th:value="${team.teamId}"
                        th:text="${team.teamName}">
                </option>
            </select>
            <span class="error" th:if="${teamValidation}" th:text="${teamValidation}"></span>
        </div>

        <div class="form-group">
            <label>[[#{app.project.description}]]</label>
            <textarea class="form-control" type="text" placeholder="Описание проекта"
                      th:field="*{description}"></textarea>
            <span class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        </div>

        <div class="container">
            <div class="row">
                <div class="form-group col-md">
                    <label>[[#{app.start.date.label}]]</label>
                    <input id="dp3" type="datetime" placeholder="Дата начала" class="form-control text-center" th:field="*{startDate}"/>
                    <span class="error" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></span>
                </div>

                <div class="form-group col-md">
                    <label>[[#{app.end.date.label}]]</label>
                    <input id="dp4" type="datetime" placeholder="Дата окончания"  class="form-control text-center" th:field="*{endDate}"/>
                    <span class="error" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></span>
                </div>
            </div>

            <div class="error text-center" th:if="${dateValidation}" th:text="${dateValidation}"></div>

        </div>

        <script type="text/javascript">
            $('#dp3').datepicker({dateFormat: "yy-mm-dd"});
            $('#dp4').datepicker({dateFormat: "yy-mm-dd"});
        </script>

        <button type="submit" class="btn btn-info mt-3 mb-3 form-control">[[#{app.add.project.label}]]</button>

    </form>

    <a th:href="@{'/projects'}">[[#{app.back.button}]]</a>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>