<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="~{fragments/head_layout :: header}"></head>

<nav th:replace="~{fragments/nav_layout :: navbar}"></nav>

<body>

<h2 class="text-center mt-3">[[#{app.projects.timelines}]]</h2>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">

    let chartData = "[[${projectTimeList}]]";
    let chartDataDecoded = decodeHtml(chartData);
    let chartJsonArray = JSON.parse(chartDataDecoded)
    let resultArray = [];


    for (let i in chartJsonArray) {
        resultArray.push([i, chartJsonArray[i]]);
    }

    google.charts.load('current', {'packages': ['timeline']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        let container = document.getElementById('chart_div');
        let chart = new google.visualization.Timeline(container);
        let dataTable = new google.visualization.DataTable();

        dataTable.addColumn({type: 'string', id: 'Project'});
        dataTable.addColumn({type: 'date', id: 'Start'});
        dataTable.addColumn({type: 'date', id: 'End'});

        for (let i = 0; i < resultArray.length; i++) {
            dataTable.addRows([
                [resultArray[i][1]["projectName"],
                    new Date(resultArray[i][1]["startDate"]),
                    new Date(resultArray[i][1]["endDate"])]
            ]);
        }

        let options = {
            avoidOverlappingGridLines: false,
            height: 800
        };

        chart.draw(dataTable, options);
    }

    function decodeHtml(html) {
        let txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
    }

</script>

<div class="container mt-5 mb-10">

    <h3 th:if="${projectListIsEmpty != null}" th:text="${projectListIsEmpty}"></h3>
    <div class="row">
        <div class="col-sm">
            <div id="chart_div"></div>
        </div>
    </div>
    <a th:href="@{'/'}">[[#{app.back.button}]]</a>

</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>

</html>